/*everthing*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*width: 100%;*/
  font-family: Arial;
  word-break: break-all;
}

/*tags*/
a {
  text-decoration: none;
}

/*
img {
  min-height: 100%;
  max-height: 100%;
  height: 0;
  object-fit: contain;
}
*/

ul {
  list-style-type: none;
}

body {
  background-color: #e7fffe;
}

/****************************************- HOME PAGE -************************************************/


/****************************************- ss- PROFILE PAGE -************************************************/
.BGimage {
  width: 100%;
  height: 225px; /* 250 previously*/
  z-index: 0;
  top: 0px; left: 0px;
  background-color:#99fffc;
  text-align: center;
  font-size: 60px;
  /* overflow: hidden; - made it flush w/top, but then pfp wont hang off*/
}

/* pfp image*/
.BGimage img {
  width: 180px; /* 200 previously*/
  height: 180px; /* 200 previously*/
  z-index: 2;
  display: block;
  position: relative;
  left: 100px;
  top: -100px;
  background-color:#9900ff;
  color: white;
  border-radius: 100px;
  overflow: hidden;
}

/*ss- side bar with extra info of the user*/
.sideInfo {
  background-color:#47e9e3;
  z-index: 1;
  width: 15%;
  height: 450px;
  float: left;
}

.sideCategory {
  padding-top: 80px;
}

.category {
  background-color: #00a8a3;
  color: white;
  padding: 4px;
  font-size: 20px;
  /* color: #007571; */
}

.category a {
  text-align: center;
  display: block;
  background-color: white;
  color: #00a8a3;
  padding: 5px;
  font-size: 20px;
  border: 4px solid white;
  border-radius: 12px;
}
.category a:hover {
  background-color: #9900ff;
  color: white;
}

/* ss- all bio div info*/
.bio {
  width: 80%;
  height: 175px;
  background-color:#c999ff;
  color: #4c01a1;
  float: left;
  z-index: 5;
  /* border-radius: 50px; */
}
.bioChange {
    width: 80%;
    height: 700px;
    background-color: #c999ff;
    color: #2a005a;
    float: left;
    z-index: 5;
}
.col-xl-8 {
    position: relative;
    top: 20px;
    left: 100px;
    background-color: #47e9e3;
}

.topUser {
  display: block;
  float: none;
}

.username {
  /* position: relative;
  left: 100px; */
  font-size: 25px;
  padding-left: 80px; /* needs accesibility for differ. screen sizes 100px*/
  font-weight: bold;
  float: left;
}

.bioTXT {
  padding: 10px;
  padding-left: 30px;
  display: block;
  clear: left;
}
.changes {
    display: block;
    top: 300px;
    left: 120px;
}
input[type=file] {
    position: absolute;
    top: 300px; 
    left: 120px; 
    height: 80px;
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

/* ss- */
/*article placement*/
article {
  width: 80%;
  height: 160px;
  /* background-color: #4c01a1;
  color: white; */
  float: left;
  padding-left: 40px;
  padding-top: 10px;
  z-index: 5;

  /* 
  float: right;
  padding-right: 100px;
  padding: 50px;
  width: 70%;
  height: 60px; */
}

.content {
  width: 90%;
  height: 125px;
  background-color: #4c01a1;
  color: white;
}
.content h1 {
  padding-top: 10px;
}

.cover {
  float: left;
  padding: 15px;
}
.cover img {
  height: 100px;
}
#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

    #myUL li a {
        border: 1px solid #ddd;
        margin-top: -1px; /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block
    }

        #myUL li a:hover:not(.header) {
            background-color: #eee;
        }
/****************************************- LOGIN PAGE -************************************************/
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.logo {
  width: 20%;
  border-radius: 30%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/*top bar - eric s. (:*/
#topBar {
  background-color: royalblue;
  text-align: center;
  height: 7rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

#topBar nav {
  background-color: cyan;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#topBar nav img {
  min-height: 100%;
  max-height: 100%;
  height: 0;
  object-fit: contain;
}